.vscode/

# Ignore all files that do not contain a full stop in their filename
**/[^.]*

# Important: Allow Git to traverse all directories so that the subsequent unignore (!) rules can work
!*/

# Keep Makefile at all directory levels
!**/[Mm]akefile

# Keeps source code files and text files
!**/*.c
!**/*.h
!**/*.txt